main h1 {
  margin-bottom: 2%;
  color: #0a7b06;
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  margin-top: 0;
}

.container {
  display: flex;
}
