main h1 {
  margin-top: 3%;
  color: #0a7b06;
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  margin-bottom: 1%;
}

.text-center {
  text-align: center;
}

.row {
  margin-left: 8%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 35%; /* 10% width */
}

.col-11 {
  flex: 0 0 65%; /* 90% width */
  text-align: left;
}

button {
  background-color: green; /* Set the background color of the button */
  color: white; /* Set the text color of the button */
  font-size: large;
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  width: 150px;
}

button:hover {
  background-color: darkgreen; /* Change background color on hover */
}

#imageContainer {
  margin-top: 1%;
}

.column {
  flex: 1;
  padding: 20px;
}

.container img {
  max-width: 75%; /* Ensure image doesn't exceed container width */
  max-height: 68%; /* Ensure image doesn't exceed container height */
  display: flex; /* Ensure proper display of the image */
  margin: auto; /* Center the image horizontally */
}
