footer {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

main h1 {
  margin-bottom: 2%;
  color: #0a7b06;
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
}

main p {
  margin-top: 5%;
  font-size: 1.5em;
  font-family: sans-serif;
  color: #3c3f4a;
}

footer {
  color: #3c3f4a;
}

footer {
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer h3 {
  font-size: x-large;
}

.card-title {
  font-family: "Caveat", cursive;
  font-family: "Fuggles", cursive;
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
}

.card-text {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: large;
}

.container {
  display: flex;
}
.column {
  flex: 1;
  padding: 20px;
}

.container img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  max-height: 100%; /* Ensure image doesn't exceed container height */
  display: block; /* Ensure proper display of the image */
  margin: auto; /* Center the image horizontally */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.column {
  flex: 1;
  padding: 20px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
#term {
  padding: 0px;
}

#danger,
#help {
  color: red;
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}

#help {
  color: green;
}

.message p {
  font-size: 4em;
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

#play {
  background-color: green; /* Set the background color of the button */
  color: white; /* Set the text color of the button */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  font-size: 4em; /* Set font size really big */
  margin-top: 3%;
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

#play:hover {
  background-color: darkgreen; /* Change background color on hover */
}
